@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

/* TODO: add dark mode/light mode */

:root {
  color-scheme: light dark;
  color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-primary: 'Abril Fatface', serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-tertiary: 'Inter', sans-serif;
  /* --light-bg: #c3c3c3; */
  background-color: #c3c3c3;
  --dark-bg: #1a1a1a;
  --dark-btn: #1a1a1a;
}

.bgPattern {
  background-image: url('./assets/topography.svg');
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
